<!-- <!DOCTYPE html> -->
<html lang="en">
<head>
    <!-- <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> -->
    
    <title><%= title %></title>

    <!-- <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.7/css/all.css"> -->

    <script  src="https://kit.fontawesome.com/b3348ae33f.js" crossorigin="anonymous"></script>

    <link rel='stylesheet' type='text/css' href='./css/home.css'>
    <!-- <script src='../assets/js/home.js'></script> -->
    
</head>
<body>
    
    <h1> <i class="fa-solid fa-clipboard-list"></i> TODO App</h1>
    <div id="container">
        <form class="form" action="/add-task" method="POST">
            <label for="description">Description</label>
            <br>
            <input id="description" type="text" name="description" placeholder="What's the Task?" required>
            <br>
            
            <div class="dropdown">
                <label for="category">Category</label>
                <br>
                <select name="category" id="category">
                <option value="Personal" selected>Personal</option>
                <option value="Work">Work</option>
                <option value="School">School</option>
                <option value="Family">Family</option>
                <option value="Other">Other</option>
            </select>
                <br>
            </div>

            <label for="dueDate">Due Date</label>
            <br>
            <input type="date" name="dueDate" id="dueDate">
            <br>

            <button type="submit"> Add Task </button>
        </form>
    
    </div>

    <div>
        <ul id="list">
            <% for (let i of task_list) { %>
                <div class="task"> 
                    <li>
                        <div class="task-item">
                            <p><%= i.description %></p>
                            <%= i.dueDate.toDateString() %>
                        </div>
                        <div class="category-label"><%= i.category %></div>
                    </li>
                </div>
                <div class="delete-button">
                    <a href="/delete-task/?id=<%= i._id %>">
                        <!-- <i class="fa-solid fa-trash"></i> -->
                        <i class="fa-solid fa-circle-minus"></i>
                    </a>
                </div>
            <% } %>
        </ul>
    </div>
</body>
</html>